<%= form_with url: contracts_api_response_path(format: "pdf"), local: true do |f| %>

  <p>
    request_type
    <%= f.text_field :request_type %>
  </p>

  <p>
    request_id
    <%= f.text_field :request_id %>
  </p>

  <p>
    request_data
    <%= f.text_field :request_data, style: "width: 1000px" %>
  </p>

  <p>
    (request_dataテンプレート)
    <%= f.text_field :example, value: '{ "contract_id": "", "pass": "" }  {"sign_image": "", "id": ""}', style: "width: 1000px" %>
  </p>

  <p>
    <%= f.submit '実行' %>
  </p>

<% end %>