<%= render partial: 'shared/header' %>

<h1>契約書一覧</h1>

<div class="contracts">
  <div class="contracts__templete">
    <h2>契約書テンプレート</h2>
    <% @contracts_templete.each do |c| %>
      <div>
        <label>ID:<%= c.contract_id %></label>
        <%= link_to '提出されたものを確認する', signed_contracts_path(templete_id: c.id) %>
        <%= link_to '削除', contract_path(c), method: :DELETE %>
      </div>
      <object data=<%= c.pdf_url%> height="500px"></object>
    <% end %>
  </div>
</div>
