= render 'shared/main-header', title: '原本アップロード'

.main-container__contents
  = form_with model: @contract do |f|
    .main-container__contents__group
      = f.label :pdf_data, 'PDFファイル'
      %div
        = f.file_field :pdf
    .main-container__contents__group
      = f.label :pass, 'パスワード'
      %div
        = f.password_field :pass
    .main-container__contents__group
      = f.submit "アップロード"
