<h1>契約書アップロード</h1>

<%= form_with model: @contract do |f| %>
<!--
<div>
    <%= f.label :pdf_file %>
    <div>
      <%= f.file_field :pdf_file %>
    </div>
  </div>
-->
  <div>
    <%= f.label :pdf_data %>
    <div>
      <%= f.file_field :pdf %>
    </div>
  </div>

  <div>
    <%= f.label :name, '契約書の名前' %>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

  <div>
    <%= f.label :pass, 'パスワード' %>
    <div>
      <%= f.text_field :pass %>
    </div>
  </div>

  <div>
    <%= f.submit "send" %>
  <div>
<% end %>
