= render 'shared/main-header', title: '提出する契約書を検索'

.main-container__contents
  = form_with url: '/contracts/show', local: true do |f|
    .main-container__contents__group
      %div
        %label 契約書ID
      = f.text_field :contract_id
    .main-container__contents__group
      %div
        %label パスワード
      = f.password_field :pass
    .main-container__contents__group
      = f.submit '検索'
