<%= render partial: 'shared/header' %>

<h1>契約書検索</h1>

<%= form_with url: '/contracts/show', local: true do |f| %>
  <div>
    <div>
      <label>ID</label>
    </div>
    <%= f.text_field :contract_id %>
  </div>

  <div>
    <div>
      <label>パスワード</label>
    </div>
    <%= f.password_field :pass %>
  </div>

  <div>
    <%= f.submit '検索' %>
  </div>

<% end %>