= render 'shared/main-header', title: '署名する書類を検索'

.main-container__contents
  .main-container__contents__error
    - if !@error_msg.blank?
      = @error_msg
  = form_with url: '/contracts/show', local: true do |f|
    .main-container__contents__group
      %div
        %label 書類ID
      = f.text_field :contract_id
    .main-container__contents__group
      %div
        %label パスワード
      = f.password_field :pass
    .main-container__contents__group
      = f.submit '検索'
