= render 'shared/main-header', title: '提出する契約書を検索'

.main-container__contents
  .main-container__contents__group
    %label
      ID:#{@contract.contract_id}
    %object{data: @contract.pdf_url}

  .main-container__contents__group
    %label 署名
    %canvas#canvassample{height: "300", width: "500"}
    .flex
      %div{:style => "padding:10px"}
        %button{:onclick => "clearCanvas()", :type => "button"} リセット
      %div{:style => "padding:10px"}
        %button{:onclick => "chgImg()", :type => "button", :value => "1"} 画像変換

  %label 画像出力
  #img-box
    %img#newImg/
  = form_with(url: contracts_combine_path(format: "pdf"), local: true) do |f|
    .main-container__contents__group
      = f.hidden_field :sign, value: "", id: "param_sign"
    / jsを使って、出力された画像のURIをhidden_fieldに持たせる
    .main-container__contents__group
      = f.label :name, '氏名'
      %div
        = f.text_field :name
    = f.hidden_field :id, value: @contract.id
    .main-container__contents__group
      = f.submit '提出'

  -# %h2 署名した契約書を提出する
  -# = form_with model: @signed_contract do |f|
  -#   .main-container__contents__group
  -#     = f.label :pdf_data
  -#     %div
  -#       = f.file_field :pdf
  -#   .main-container__contents__group
  -#     = f.label :name, '氏名'
  -#     %div
  -#       = f.text_field :name
  -#   %div
  -#     %div
  -#       = f.hidden_field :user_id, value: @contract.user_id
  -#       = f.hidden_field :templete_id, value: @contract.id
  -#   .main-container__contents__group
  -#     = f.submit "提出する"
  -#     %div
