= render 'shared/main-header', title: 'ログイン'

.main-container__contents
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .main-container__contents__group
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
    .main-container__contents__group
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .main-container__contents__group
        .field
          = f.label :remember_me
          = f.check_box :remember_me
    .main-container__contents__group
      .actions
        = f.submit "ログイン"

  -# Forgot your password?は後々実装
  -# = render "users/shared/links"
