%div= link_to 'トップページ', root_path
- if user_signed_in?
  %div= link_to 'ログアウト', destroy_user_session_path, method: "DELETE"
  %div= link_to 'マイページ', user_path(current_user)
- else
  %div= link_to '新規ユーザー登録', new_user_registration_path
  %div= link_to 'ログイン', new_user_session_path
