.side
  %ul.side__menu
    %li
      = link_to root_path do
        = image_tag 'tangent_icon.png', class: "side__menu__icon"
        .side__menu__title
          Tangent
    - if user_signed_in?
      %li
        = link_to user_path(current_user), class: "#{@selected_menu[:account]}" do
          = fa_icon "user fw"
          アカウント
      %li
        = link_to new_contract_path, class: "#{@selected_menu[:new_contracts]}" do
          = fa_icon "cloud-upload fw"
          原本アップロード
      %li
        = link_to contracts_path, class: "#{@selected_menu[:index_contracts]}" do
          = fa_icon "check-square fw"
          書類を確認
    - else
      %li
        = link_to new_user_registration_path, class: "#{@selected_menu[:sign_up]}" do
          = fa_icon "user-plus fw"
          新規ユーザー登録
      %li
        = link_to new_user_session_path, class: "#{@selected_menu[:login]}" do
          = fa_icon "sign-in fw"
          ログイン
    %li
      = link_to contracts_search_path, class: "#{@selected_menu[:search_contracts]}" do
        = fa_icon "search fw"
        署名する書類を検索
    %li
      = link_to top_policy_path, class: "#{@selected_menu[:policy]}" do
        = fa_icon "exclamation-circle fw"
        利用規約・プライバシーポリシー
    %li
      = link_to "https://hatchout.net/project/tangent", target: "_blank" do
        = fa_icon "exclamation-circle fw"
        使い方
    
  .side__advertising
    %a{:href => "https://px.a8.net/svt/ejp?a8mat=35UQJV+77L0J6+50+2HHNXT", :rel => "nofollow", target: "_blank"}
      %img{:alt => "", :border => "0", :height => "250", :src => "https://www26.a8.net/svt/bgt?aid=191230699436&wid=001&eno=01&mid=s00000000018015031000&mc=1", :width => "100% "}/
    -# %img{:alt => "", :border => "0", :height => "1", :src => "https://www12.a8.net/0.gif?a8mat=35UQJV+77L0J6+50+2HHNXT", :width => "1"}/

-# スマホ表示用のサイドメニュー
.header-logo-menu
  #nav-drawer
    %input#nav-input.nav-unshown{:type => "checkbox"}/
    %label#nav-open{:for => "nav-input"}
      %span
    %label#nav-close.nav-unshown{:for => "nav-input"}
    #nav-content
      %ul
        %li
          = link_to root_path do
            = image_tag 'tangent_icon.png', class: "side__menu__icon"
            .side__menu__title
              Tangent
        - if user_signed_in?
          %li
            = link_to user_path(current_user), class: "#{@selected_menu[:account]}" do
              = fa_icon "user fw"
              アカウント
          %li
            = link_to new_contract_path, class: "#{@selected_menu[:new_contracts]}" do
              = fa_icon "cloud-upload fw"
              原本アップロード
          %li
            = link_to contracts_path, class: "#{@selected_menu[:index_contracts]}" do
              = fa_icon "check-square fw"
              書類を確認
        - else
          %li
            = link_to new_user_registration_path, class: "#{@selected_menu[:sign_up]}" do
              = fa_icon "user-plus fw"
              新規ユーザー登録
          %li
            = link_to new_user_session_path, class: "#{@selected_menu[:login]}" do
              = fa_icon "sign-in fw"
              ログイン
        %li
          = link_to contracts_search_path, class: "#{@selected_menu[:search_contracts]}" do
            = fa_icon "search fw"
            署名する書類を検索
        %li
          = link_to top_policy_path, class: "#{@selected_menu[:policy]}" do
            = fa_icon "exclamation-circle fw"
            利用規約・プライバシーポリシー
        %li
          = link_to "https://hatchout.net/project/tangent", target: "_blank" do
            = fa_icon "exclamation-circle fw"
            使い方
        
      %a{:href => "https://px.a8.net/svt/ejp?a8mat=35UQJV+77L0J6+50+2HHNXT", :rel => "nofollow", target: "_blank"}
        %img{:alt => "", :border => "0", :src => "https://www26.a8.net/svt/bgt?aid=191230699436&wid=001&eno=01&mid=s00000000018015031000&mc=1", :width => "100% "}/
      -# -# %img{:alt => "", :border => "0", :height => "1", :src => "https://www12.a8.net/0.gif?a8mat=35UQJV+77L0J6+50+2HHNXT", :width => "1"}/

