%ul.side
  %li
    = link_to root_path do
      = image_tag 'tangent_icon.png', class: "side__icon"
      .side__title
        Tangent
  - if user_signed_in?
    %li
      = link_to user_path(current_user), class: "#{@selected_menu[:account]}" do
        = fa_icon "user fw"
        アカウント
    %li
      = link_to new_contract_path, class: "#{@selected_menu[:new_contracts]}" do
        = fa_icon "cloud-upload fw"
        契約書アップロード
    %li
      = link_to contracts_path, class: "#{@selected_menu[:index_contracts]}" do
        = fa_icon "check-square fw"
        契約書を確認
  - else
    %li
      = link_to new_user_registration_path, class: "#{@selected_menu[:sign_up]}" do
        = fa_icon "user-plus fw"
        新規ユーザー登録
    %li
      = link_to new_user_session_path, class: "#{@selected_menu[:login]}" do
        = fa_icon "sign-in fw"
        ログイン
  %li
    = link_to contracts_search_path, class: "#{@selected_menu[:search_contracts]}" do
      = fa_icon "search fw"
      提出する契約書を検索
  %li
    = link_to top_policy_path, class: "#{@selected_menu[:policy]}" do
      = fa_icon "search fw"
      利用規約・プライバシーポリシー
