!!!
%html
  %head{prefix: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{property: "og:url", content: "https://hatchout-tangent.com/"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:title", content: "電子署名アプリ【Tangent】"}
    %meta{property: "og:description", content: "署名活動や契約書へのサインをスマホアプリからしてもらえます。書類の管理はこちらのwebアプリから簡単にできます。"}
    %meta{property: "og:image", content: "https://hatchout-tangent.com/assets/tangent_icon-9d2f0952d1a18bb771c16462dbdf37d00cd91a786f9a49728a303e8f6a079dc4.png"}
    %meta{property: "og:image:secure_url", content: "https://hatchout-tangent.com/assets/tangent_icon-9d2f0952d1a18bb771c16462dbdf37d00cd91a786f9a49728a303e8f6a079dc4.png"}
    %title Tangent 電子署名活動
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon48.ico'
  %body
    .flex
      = render partial: 'shared/side'
      .main-container
        = yield
