!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tangent 電子署名活動
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon48.ico'
  %body
    .flex
      = render partial: 'shared/side'
      .main-container
        = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
